

/**
 * CATEGORIES
 */

#catListContainer {
  float: right;
  margin-right: 24px;
  width: 24%;
}

#catListContainer ul {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 18px;
}

#catListContainer ul li {
  display: flex;
  justify-content: space-between;
}

#delBtn {
cursor: pointer;
}

.delBtn {
  cursor: pointer
}

.delBtn:hover {
  color: red
}

.glyphicon-trash {
  cursor: pointer;
}

            
[class*="delBtn-"] {
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
}

/**
 * TILES
 */

 .tileCard {
  display: flex;
  flex-direction: column;
  min-width: 104px  ;
  border: 1px solid;
  padding: 48px;
  /* margin: 100px; */
  justify-content: center;
  align-items: center;
  padding-top: unset;
  background-color: ghostwhite;
  margin-right: 24px;
}

.tile-img {
  max-width: 201px;
}

#tilesContainer {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #eee;
  padding: 8px;
  margin: 40px;
  width: 70%;
  background-color: #f4f4f4;
  box-shadow: rgb(0 0 0 / 20%) 0px 60px 40px -7px;
}

dialog {
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

/* CARD */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

.flip-card-front img {
  max-height: 100%;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back a {
  color: #fff;
  font-weight: bold;
}

.top-banner {
  border: 2px solid #eee;
  padding: 40px;
  margin: 40px;
  width: 70%;
}

.api-section {
  border: 2px solid #eee;
  padding: 40px;
  margin: 40px;
  width: 70%;
}

/* USERS */
.solid-header {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

.userAlertAdvice {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 1px solid ghostwhite;
  background-color: #000;
  color: ghostwhite;
  box-shadow: rgb(0 0 0 / 20%) 0px 60px 40px -7px;
  transition: background-color ease-in 5s, color ease-in 4s;
}

.userAlertAdvice::after {
  content: "New user created!";  
  font-size: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
